
footer{
    margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  .centro {
    margin: auto;
  }
}
#logo{
  height: 100px;
}

@media (max-width: 992px){
  #logo{
    text-align: center;
  }
}
.card{
  box-shadow: 10px 5px 5px grey;
}

#carrinho{
  height: 100px;
}